


#mobile-header-spacer{
  height: @mobile-header-height;
  display: none;
}



#mobile-header{
  display: none;

  position: fixed;
  // z-index: 100000;
  z-index: 100001;
  top: 0;
  left: 0;
  width: 100%;
  height: @mobile-header-height;

  .white-bg{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    // height: 56px;
    height: @mobile-header-height;
    // background: @brown;
    background: @white;
    // border-bottom: 1px solid #e0e0e0;

    .transition-in(0.3s);

    &:before{
      content: "";
      display: block;
      position: absolute;
      z-index: 100000 - 1;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 20px;
      background: transparent url('../images/bg/mobile-shadow.png');
      //background-size: 20px 100%;
      background-repeat: repeat-x;
      .opacity(0.5);

      pointer-events: none;
    }
  }

}


body.is-mobile-header{        // important
  #mobile-header-spacer{
    display: block;
  }
  #mobile-header{
    display: block;
  }
}
















// logo

#mobile-header-logo{
  position: absolute;
  top: 14px;
  left: 15px;
  
  display: block;
  // font-size: 0;

  .mobile-header-logo;


  /*
  .text-01,
  .text-02{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: @lightest-grey;

    .display-inline-block;
  }

  .text-01{
    .proxima-nova-bold;
    margin-right: 1px;
  }
  .text-02{
    .proxima-nova-light;
  }

  */

} // #mobile-header-logo





#mobile-header-menu-btn{

  position: absolute;

  width: @mobile-header-height;
  height: @mobile-header-height;

  top: 0px;
  right: 0px;

  padding-top: 22px + 1px;
  padding-left: 22px;

  span{
    display: block;

    width: 18px;
    height: 2px;
    //background: @lightest-grey;
    background: @brown;
    margin-bottom: 3px;
  }
}













//    _______  ______   _    _   _ ____  _____ ____
//   | ____\ \/ /  _ \ / \  | \ | |  _ \| ____|  _ \
//   |  _|  \  /| |_) / _ \ |  \| | | | |  _| | | | |
//   | |___ /  \|  __/ ___ \| |\  | |_| | |___| |_| |
//   |_____/_/\_\_| /_/   \_\_| \_|____/|_____|____/
//



#mobile-header-expanded{
  //display: none;
  
  //height: 0;
  
  /// max-height: 0px;
  /// overflow: hidden;

  display: none;


  // position: fixed;
  // top: @mobile-header-height;

  position: relative;
  top: 0px;

  z-index: 100000;
  left: 0;
  width: 100%;
  
  .transition-in(0.3s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.2s);

  /*
  &.expand-version{
    // max-height: 500px;
    
    max-height: 650px;
    
    //height: auto;
    //overflow: visible;
    
    .transition-in(0.5s);
  }
  */
}

body.menu-open-version{
  background: #a29485;

  #mobile-header-expanded{
    display: block;
  }
  #page-wrapper{
    display: none;


  }
}





//    ____  _____    _    ____   ____ _   _
//   / ___|| ____|  / \  |  _ \ / ___| | | |
//   \___ \|  _|   / _ \ | |_) | |   | |_| |
//    ___) | |___ / ___ \|  _ <| |___|  _  |
//   |____/|_____/_/   \_\_| \_\\____|_| |_|
//

#mobile-header-search-form-container{

  background: @light-grey;
}




#mobile-header-search-form{
  padding-left: 45px;
  

  .form-group{
    margin-bottom: 0px;

    input[type=text]{

      .proxima-nova-bold;
      font-size: 13px;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 0.075em;

      color: @orange;

      border: none;
      outline: none;


      padding-top: 7px + 6px;
      padding-bottom: 8px + 4px;


      background: transparent;

    }
  }


  #mobile-header-search-submit-btn{
    position: absolute;
    width: 28px;
    height: 28px;

    top: 13px;
    left: 9px;

    background: transparent;
    border: none;
    outline: none;
    .mobile-search-btn;

    text-indent: -9999px;

  }

}




//    _        _    _   _  ____ _   _   _    ____ _____
//   | |      / \  | \ | |/ ___| | | | / \  / ___| ____|
//   | |     / _ \ |  \| | |  _| | | |/ _ \| |  _|  _|
//   | |___ / ___ \| |\  | |_| | |_| / ___ \ |_| | |___
//   |_____/_/   \_\_| \_|\____|\___/_/   \_\____|_____|
//



#mobile-header-language-container{

  background: @orange;

  ul{

    font-size: 0px;
    padding-left: 45px;


    padding-top: 7px + 5px;
    padding-bottom: 8px + 5px;


    li{
      .display-inline-block;
      position: relative;
      padding-right: 6px + 8px;

      &:after{
        content: '/';
        .proxima-nova-bold;
        font-size: 13px;
        line-height: 30px;
        color: @white !important;
        text-align: center;

        display: block;
        position: absolute;
        top: 0;
        right: 4px;

        height: 30px;
        width: 6px;

      }

      &:last-child{
        padding-right: 0px;
        &:after{
          display: none;
        }
      }

      a{
        .proxima-nova-bold;
        font-size: 13px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 0.075em;

        color: @white !important;
      }
    }
  }
  
}


//    __  __ _____ _   _ _   _ 
//   |  \/  | ____| \ | | | | |
//   | |\/| |  _| |  \| | | | |
//   | |  | | |___| |\  | |_| |
//   |_|  |_|_____|_| \_|\___/ 
//                             

#mobile-header-menu-container{

  #mobile-menu{
    nav{
      position: relative;
      // margin-bottom: 20px;

      /*
      &:before{
        content: "";
        display: block;
        position: absolute;
        z-index: 100000 - 1;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 20px;
        background: transparent url('../images/bg/mobile-shadow.png');
        //background-size: 20px 100%;
        background-repeat: repeat-x;
        .opacity(0.5);

        pointer-events: none;
      }
      */

      > ul{

        > li{
          display: block;

          > a{
            .proxima-nova-bold;
            font-size: 13px;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: 0.075em;

            color: @lightest-grey;

            padding-left: 45px;

            display: block;
            background: #a29485;
            border-bottom: 1px solid #d7d7d7;

            padding-top: 7px;
            padding-bottom: 8px;

          } // a



        } // li
      } // ul

    } // nav
  } // #mobile-menu
}



// level 02


#mobile-header-menu-container #mobile-menu nav > ul > li {
  > ul {
    display: none;
    
    > li {
      > a{

        .proxima-nova-bold;
        font-size: 13px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 0.075em;

        color: @lightest-grey;

        padding-left: 45px + 15px;

        display: block;
        background: lighten(#a29485, 10%);
        border-bottom: 1px solid #d7d7d7;

        padding-top: 7px;
        padding-bottom: 8px;

      } // a

    }
  }
}




