//    _   _  ___  __  __ _____   ____    _    _   _ _   _ _____ ____
//   | | | |/ _ \|  \/  | ____| | __ )  / \  | \ | | \ | | ____|  _ \
//   | |_| | | | | |\/| |  _|   |  _ \ / _ \ |  \| |  \| |  _| | |_) |
//   |  _  | |_| | |  | | |___  | |_) / ___ \| |\  | |\  | |___|  _ <
//   |_| |_|\___/|_|  |_|_____| |____/_/   \_\_| \_|_| \_|_____|_| \_\
//

#home-page-banner-section{

}


@desktop-home-banner-height: 610px;
// @desktop-home-banner-height: 1000px;

#home-page-banner{
  width: 100%;
  height: @desktop-home-banner-height;

  position: relative;
  overflow: hidden;

  .format-desktop-slick();

  &.slick-instanciated{
    overflow: visible;
  }


} //#home-page-banner











.home-page-banner-item{
  position: relative;
  width: 100%;
  height: @desktop-home-banner-height;

  .display-inline-block;

  .manic-image-container.home-page-banner-image{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



  .home-page-banner-overlay-image{
    padding-top: 10px;
    .manic-image-container{
      height: @desktop-home-banner-height - 20px;
    }
  }

  .text-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.shop-all-version{
      text-align: center;
    }

    h1{
      font-size: 46px;
      line-height: 50px;
      letter-spacing: 0.0em;
      // letter-spacing: -0.02em;

      white-space: nowrap;

      span{
        font-size: 70px;
        line-height: 75px;
        letter-spacing: -0.02em;

        display: block;
        padding-top: 9px;
        padding-bottom: 11px;
        
      }
    } // h1

    .cta-container{
      padding-top: 22px;
    }


  }

}


/*
@media only screen and (max-width: 2080px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px + ( 44px * 7 );
  }
}
@media only screen and (max-width: 1980px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px + ( 44px * 6 );
  }
}
@media only screen and (max-width: 1880px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px + ( 44px * 5 );
  }
}
@media only screen and (max-width: 1780px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px + ( 44px * 4 );
  }
}
@media only screen and (max-width: 1680px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px + ( 44px * 3 );
  }
}
@media only screen and (max-width: 1580px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px + ( 44px * 2 );
  }
}
@media only screen and (max-width: 1480px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px + 44px;
  }
}
@media only screen and (max-width: 1380px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px;
  }
}


@media only screen and (max-width: 1280px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px - 44px;
  }
}
@media only screen and (max-width: 1180px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px - ( 44px * 2 );
  }
}
@media only screen and (max-width: 1080px) {
  #home-page-banner, .home-page-banner-item{
    height: 610px - ( 44px * 3 );
  }
}
*/


//    _   _  ___  __  __ _____   ____    _    _   _ _   _ _____ ____    __  __  ___  ____ ___ _     _____
//   | | | |/ _ \|  \/  | ____| | __ )  / \  | \ | | \ | | ____|  _ \  |  \/  |/ _ \| __ )_ _| |   | ____|
//   | |_| | | | | |\/| |  _|   |  _ \ / _ \ |  \| |  \| |  _| | |_) | | |\/| | | | |  _ \| || |   |  _|
//   |  _  | |_| | |  | | |___  | |_) / ___ \| |\  | |\  | |___|  _ <  | |  | | |_| | |_) | || |___| |___
//   |_| |_|\___/|_|  |_|_____| |____/_/   \_\_| \_|_| \_|_____|_| \_\ |_|  |_|\___/|____/___|_____|_____|
//

#home-page-banner-section-mobile{

}

#home-page-banner-mobile{
  // set height later
}



.home-page-banner-item-mobile{
  position: relative;
  height: 630px;

  .banner-image-bg{
    .manic-image-container{
      height: 630px;
    }
  }

  .banner-image-overlay{
    position: absolute;
    // top: 30px;
    /// top: -9px;
    // top: 35px;
    
    /// bottom: 184px;
    //// bottom: 180px;
    
    bottom: 210px + 30px;

    left: 20%;    // 40/2
    width: 60%;

    left: 15%;
    width: 70%;

    .manic-image-container{
      // height: 450px;
      height: 580px;
    }
  }

  .text-overlay{
    position: absolute;
    left: 50%;
    
    padding-left: 30px;
    padding-right: 30px;

    // bottom: 41px;
    bottom: 80px + 30px;

    width: 550px;
    margin-left: -550px / 2;
    text-align: center;

    &.top-version{
      // top: 55px;
      top: 155px;
      bottom: auto;
      h1{
        text-align: center;
      }
    }

    h1{
      font-size: 23px * 1.5;
      line-height: 27px * 1.5;
      letter-spacing: 0.0em;

      margin-right: 0px;

      .display-inline-block;
      text-align: left;

      span{
        font-size: 33px * 1.5;
        line-height: 37px * 1.5;
        letter-spacing: -0.02em; // regular size

        display: block;
        padding-top: 3px;
        padding-bottom: 4px;
      }
    }

    .cta-container{
      padding-top: 22px;
    }

  } // .text-overlay



} // .home-page-banner-item-mobile






// MOBILE
@media only screen and (max-width: 767px) {

  .home-page-banner-item-mobile{
    height: 420px;

    .banner-image-overlay{
      // top: -5px;
      // top: 25px;
      // bottom: 123px;
      bottom: 145px;

      .manic-image-container{
        // height: 295px;
        /// height: 315px;
        height: 480px;
      }
    }

    .banner-image-bg{
      .manic-image-container{
        height: 420px;                  // this will get overriden by js (full height)
      }
    }

    
    .text-overlay{
      width: 320px;
      bottom: 41px - 14px;
      bottom: 50px;

      margin-left: -320px / 2;

      &.top-version{
        top: 88px;
        bottom: auto;
      }

      h1{
        font-size: 23px;
        line-height: 27px;
        letter-spacing: 0.0em;

        margin-right: -10px;
        display: block;

        span{
          font-size: 33px;
          line-height: 37px;
          letter-spacing: -0.02em; // regular size

          display: block;
          padding-top: 3px;
          padding-bottom: 4px;

          margin-right: -20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .home-page-banner-item-mobile{
    .banner-image-overlay{
      bottom: 155px;

      .manic-image-container{
        height: 350px;
      }
    }
  }
}









//    _   _  ___  __  __ _____   ___ _   _ _____ ____   ___
//   | | | |/ _ \|  \/  | ____| |_ _| \ | |_   _|  _ \ / _ \
//   | |_| | | | | |\/| |  _|    | ||  \| | | | | |_) | | | |
//   |  _  | |_| | |  | | |___   | || |\  | | | |  _ <| |_| |
//   |_| |_|\___/|_|  |_|_____| |___|_| \_| |_| |_| \_\\___/
//

#home-page-intro-section{
  padding-top: 80px;
  padding-bottom: 90px;



  .manic-image-container{
    height: 500px;
    margin-left: 30px;
  }

  .default-copy{
    h1{
      .special-i{
        position: relative;
        &:after{
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          width: 8px;
          height: 8px;

          background: @white;
        }
      }
    }
  }
}

// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  #home-page-intro-section{
    .manic-image-container{
      margin-left: 0px;
    }
  }
}



//    _   _  ___  __  __ _____   _____ _____    _  _____ _   _ ____  _____ ____
//   | | | |/ _ \|  \/  | ____| |  ___| ____|  / \|_   _| | | |  _ \| ____|  _ \
//   | |_| | | | | |\/| |  _|   | |_  |  _|   / _ \ | | | | | | |_) |  _| | | | |
//   |  _  | |_| | |  | | |___  |  _| | |___ / ___ \| | | |_| |  _ <| |___| |_| |
//   |_| |_|\___/|_|  |_|_____| |_|   |_____/_/   \_\_|  \___/|_| \_\_____|____/
//

#home-page-featured-section{
  background: @brown;

  .manic-image-container{
    height: 885px;
  }
}


//    _   _  ___  __  __ _____   ____  _   _  ___  ____
//   | | | |/ _ \|  \/  | ____| / ___|| | | |/ _ \|  _ \
//   | |_| | | | | |\/| |  _|   \___ \| |_| | | | | |_) |
//   |  _  | |_| | |  | | |___   ___) |  _  | |_| |  __/
//   |_| |_|\___/|_|  |_|_____| |____/|_| |_|\___/|_|
//

#home-page-shop-section{
  background: @off-white-02;
  padding-top: 80px + 14px;
  padding-bottom: 88px;

}
#home-page-shop-title{
  margin-bottom: 60px;

  h2{
    // .header-h2-style-02;
    text-align: center;
  }
}




// @desktop-home-shop-item-container-height: 480px;
@desktop-home-shop-item-container-height: 400px;

#home-page-shop-item-container{
  width: 100%;
  height: @desktop-home-shop-item-container-height;
  font-size: 0;

  position: relative;
  overflow: hidden;

  &.slick-instanciated{
    overflow: visible;
  }



  .slick-prev,
  .slick-next{
    z-index: 200;
    width: 36px;
    height: 36px;
    .transition-in(0.3s);

    &:before{
      content: "";

    }
    &:after{
      top: 0;
      
      background: transparent !important;
      text-indent: 0;
      .fa;
      font-size: 16px;
      line-height: 36px;
      color: @grey;
    }

    &.slick-disabled{
      // pointer-events: none;
      .opacity_important(0.5);
    }
  }

  .slick-prev{
    left: 0px;
    right: auto;

    &:after{
      // content: "\f104";
      content: "\f060"; // .fa-arrow-left
  

      left: 0px;
    }
  }
  .slick-next{
    left: auto;
    right: 0px;

    &:after{
      // content: "\f105";
      content: "\f061"; // .fa-arrow-right
      right: 0px;

    }
  }

}

.home-page-shop-item{
  width: 20%;
  height: @desktop-home-shop-item-container-height;
  .display-inline-block;
  position: relative;

  padding: 0 10px;

  .manic-image-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

  &:focus,
  &:hover{
    .manic-image-container{
      img{
        .opacity_important(0.7);
      }
    }

  }
}



@media only screen and (max-width: 1180px) {
  .home-page-shop-item{
    width: 25%;
  }
}
@media only screen and (max-width: 1010px) {
  .home-page-shop-item{
    width: 33.3333%;
  }
}


//    _   _  ___  __  __ _____   ____  _   _  ___  ____    __  __  ___  ____ ___ _     _____
//   | | | |/ _ \|  \/  | ____| / ___|| | | |/ _ \|  _ \  |  \/  |/ _ \| __ )_ _| |   | ____|
//   | |_| | | | | |\/| |  _|   \___ \| |_| | | | | |_) | | |\/| | | | |  _ \| || |   |  _|
//   |  _  | |_| | |  | | |___   ___) |  _  | |_| |  __/  | |  | | |_| | |_) | || |___| |___
//   |_| |_|\___/|_|  |_|_____| |____/|_| |_|\___/|_|     |_|  |_|\___/|____/___|_____|_____|
//


#home-page-shop-section-mobile{
  padding-top: 32px + 16px;
  padding-bottom: 8px + 13px;

}

#home-page-shop-title-mobile{
  text-align: center;
  margin-bottom: 29px + 17px;

  .cta-container{
    padding-top: 17px + 9px;
  }
}

#home-page-shop-item-mobile-container{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.home-page-shop-item-mobile{
  display: block;                     // for links
  margin-bottom: 25px + 20px;

  .manic-image-container{
    height: 240px;
  }
}

// MOBILE
@media only screen and (max-width: 767px) {
  #home-page-shop-section-mobile{
    padding-top: 32px;
    padding-bottom: 8px;
  }

  #home-page-shop-title-mobile{
    margin-bottom: 29px;

    .cta-container{
      padding-top: 17px;
    }
  }

  .home-page-shop-item-mobile{
    margin-bottom: 25px;

    .manic-image-container{

    }
  }

}


//    _   _  ___  __  __ _____   __  __  ___  ____  _____
//   | | | |/ _ \|  \/  | ____| |  \/  |/ _ \|  _ \| ____|
//   | |_| | | | | |\/| |  _|   | |\/| | | | | |_) |  _|
//   |  _  | |_| | |  | | |___  | |  | | |_| |  _ <| |___
//   |_| |_|\___/|_|  |_|_____| |_|  |_|\___/|_| \_\_____|
//

#home-page-more-section{
  padding-top: 80px + 19px + 3px;
  padding-bottom: 80px;
}
#home-page-more-title{
  margin-bottom: -8px - 3px;


  position: relative;
  z-index: 2;

  h2{
    // .header-h2-style-02;
    text-align: center;
  }
}


.home-page-more-item{
  .manic-image-container{
    margin-bottom: -4px;
  }
  .default-copy{
    position: relative;
    z-index: 20;

    h1{
      font-size: 32px;
    }
    h1 + p{
      padding-top: 4px;
    }
    
    p{
      // padding: 0 10px;
      padding-left: 10px;
      padding-right: 10px;

    }
  }
}




//    _   _  ___  __  __ _____   ___ _   _ ____ _____  _    ____ ____      _    __  __
//   | | | |/ _ \|  \/  | ____| |_ _| \ | / ___|_   _|/ \  / ___|  _ \    / \  |  \/  |
//   | |_| | | | | |\/| |  _|    | ||  \| \___ \ | | / _ \| |  _| |_) |  / _ \ | |\/| |
//   |  _  | |_| | |  | | |___   | || |\  |___) || |/ ___ \ |_| |  _ <  / ___ \| |  | |
//   |_| |_|\___/|_|  |_|_____| |___|_| \_|____/ |_/_/   \_\____|_| \_\/_/   \_\_|  |_|
//

#home-instagram-section{

  background: #f2f2f3;
  padding-top: 80px + 9px + 3px;

  padding-bottom: 44px;

}
#home-instagram-title{

  margin-bottom: 46px - 3px;

  h2{
    // .header-h2-style-02;
    text-align: center;
  }
}





// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  #home-instagram-section{
    // padding-top: 33px * 1.5;
    // padding-bottom: 32px * 1.5;
    
    padding-top: 49px;
    padding-bottom: 53px;
  }
  #home-instagram-title{
    margin-bottom: 29px;
  }
}


// MOBILE
@media only screen and (max-width: 767px) {
  #home-instagram-section{
    padding-top: 33px;
    padding-bottom: 32px;
  }
  #home-instagram-title{
    margin-bottom: 12px;
  }
}















#home-instagram-slider{

}

// #home-instagram-feed-container{}




@desktop-home-instagram-item-container-height: 200px;
@mobile-home-instagram-item-container-height: 280px;

#home-instagram-item-container{
  width: 100%;
  height: @desktop-home-instagram-item-container-height;
  font-size: 0;

  position: relative;
  overflow: hidden;

  &.slick-instanciated{
    overflow: visible;
  }
}

.home-instagram-item{
  width: 16.6666%;
  height: @desktop-home-instagram-item-container-height;
  .display-inline-block;
  position: relative;

  outline: none;

  .transition-in(0.3s);

  &:focus,
  &:hover{
    .opacity(0.7);
  }

  .white-bg{
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -190px / 2;
    margin-left: -190px / 2;

    width: 190px;
    height: 190px;
    background: @white;
  }

  .manic-image-container{
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -180px / 2;
    margin-left: -180px / 2;

    width: 180px;
    height: 180px;
  }
}

// smaller than designed screen
@media only screen and (max-width: 1380px) {
  .home-instagram-item{
    width: 20%;
  }
}

@media only screen and (max-width: 1180px) {
  .home-instagram-item{
    width: 25%;
  }
}
@media only screen and (max-width: 980px) {
  .home-instagram-item{
    width: 33.3333%;
  }
}






// MOBILE
@media only screen and (max-width: 767px) {
  #home-instagram-item-container{
    height: @mobile-home-instagram-item-container-height;
  }
  .home-instagram-item{
    width: 100%;
    height: @mobile-home-instagram-item-container-height;

    .white-bg{
      width: 260px;
      height: 260px;

      margin-top: -260px / 2;
      margin-left: -260px / 2;
    }
    .manic-image-container{
      width: 246px;
      height: 246px;

      margin-top: -246px / 2;
      margin-left: -246px / 2;
    }
  }
}







#home-page-instagram-bottom{
  font-size: 0;
  padding-top: 43px;
  text-align: center;
  h4{
    .display-inline-block;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.19em;

    margin-right: 7px;
  }
  ul{
    font-size: 0;
    .display-inline-block;

    padding-top: 1px;

    li{
      .display-inline-block;

      padding: 0 20px;

      .fa{
        font-size: 20px;
        line-height: 25px;
        color: @grey;

        &:hover,
        &:focus{
          color: @brown;
        }
      }
    }
  }
}






#home-page-instagram-bottom-mobile{
  padding-top: 13px + 19px;
  text-align: center;

  h4{
    color: @grey !important;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.06em;

    a{
      color: @grey !important;
    }
  }
}




// MOBILE
@media only screen and (max-width: 767px) {
  #home-page-instagram-bottom-mobile{
    padding-top: 13px;
  }
}