


@mailing-list-pop-up-width: 530px;
@mailing-list-pop-up-height: 225px;


#mailing-list-pop-up-container{
  position: fixed;
  z-index: 200020;
  // display: block;
  display: none;               // not immediately visible
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  
  .opacity(0);
  visibility: hidden;

  &.open-version{
    display: block;
    #mailing-list-pop-up{
      .fade-in;
    }

  }

  .black-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: @off-black;
    background: fade(@off-black, 70%);
  }



}
#mailing-list-pop-up{
  position: absolute;
  top: 50%;
  left: 50%;

  width: @mailing-list-pop-up-width;
  height: @mailing-list-pop-up-height;

  margin-left: -1 * @mailing-list-pop-up-width / 2;
  margin-top: -1 * @mailing-list-pop-up-height / 2;


  background: @off-white-03;
  border: 6px solid @brown;

  padding-top: 33px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  .opacity(0);


}
#mailing-list-pop-up-close-btn{
  position: absolute;
  top: 12px;
  right: 12px;

  .cart-close-icon-large-brown;
  .transition-in(0.3s);
  cursor: pointer;

  &:focus,
  &:hover{
    .cart-close-icon-large-hover;
  }
}


#mailing-list-pop-up-copy{

  // margin-bottom: 18px;
  margin-bottom: 32px;

  h1{
    font-size: 37px;
    line-height: 40px;
  }
  h1 + p{
    padding-top: 13px;
  }

}


#mailing-list-pop-up #mc-embedded-subscribe-form{
  position: relative;
  width: 445px;
  height: 35px;
  margin: 0 auto;

  input[type=text],
  input[type=email]{
    .josefin-sans-semibold;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1em;
    // text-transform: uppercase;
    color: #898989;

    position: absolute;
    top: 0;
    left: 0;
    width: 445px - 106px;
    height: 35px;

    padding-top: 0px;
    padding-left: 18px;
    padding-right: 10px;

    background: white!important;
    border: none;
    outline: none;

    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }
  .square-cta{
    position: absolute;
    top: 0;
    right: 0;
    width: 106px;
    height: 35px;
  }

  .format-form;
  
  .error-element {
    text-align: left;
    position: relative;
    top: 42px;
  }  
}