<!-- /templates/page.shipping-information.liquid -->


<!--
   ____  _____ _____ _   _   _ _   _____   ____    _    _   _ _   _ _____ ____
  |  _ \| ____|  ___/ \ | | | | | |_   _| | __ )  / \  | \ | | \ | | ____|  _ \
  | | | |  _| | |_ / _ \| | | | |   | |   |  _ \ / _ \ |  \| |  \| |  _| | |_) |
  | |_| | |___|  _/ ___ \ |_| | |___| |   | |_) / ___ \| |\  | |\  | |___|  _ <
  |____/|_____|_|/_/   \_\___/|_____|_|   |____/_/   \_\_| \_|_| \_|_____|_| \_\

-->


<article id="default-page-banner-section">
  <div id="default-page-banner">
    <div class="manic-image-container">
      <img src="" data-image-desktop="{{ 'about-banner.jpg' | asset_url }}">

    </div>
  </div>
</article>



<!--
   _____ ___ _____ _     _____
  |_   _|_ _|_   _| |   | ____|
    | |  | |  | | | |   |  _|
    | |  | |  | | | |___| |___
    |_| |___| |_| |_____|_____|

-->


<article id="page-faq-title-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="page-faq-title">
          <h2>Shipping Information</h2>
        </div>

      </div>
    </div>
  </div>
</article>

<!--
    ____ ___  _   _ _____ _____ _   _ _____
   / ___/ _ \| \ | |_   _| ____| \ | |_   _|
  | |  | | | |  \| | | | |  _| |  \| | | |
  | |__| |_| | |\  | | | | |___| |\  | | |
   \____\___/|_| \_| |_| |_____|_| \_| |_|

-->

<article id="page-faq-content-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      
      <div class="col-md-1"></div>
      <div class="col-md-10">

        <div id="page-faq-content">
          


          <div class="manic-expand-container tablet-open-version tablet-fixed-open-version mobile-open-version mobile-fixed-open-version" data-group="faq">
            <div class="scroll-target" data-value="faq-01"></div>
            <div class="manic-expand-container-title">
              <h3>How long will it take for me to receive my order?</h3>
            </div>
            <div class="manic-expand-container-btn"></div>
            <div class="manic-expand-container-content">
              <div class="default-copy">
                <p>Upon verification of your payment, we will take 1 - 2 working days to pack and arrange for dispatch of your order via our delivery service partners.</p>
                <p>The time taken for your parcel to reach you depends on the mode of delivery you choose. Please refer to the delivery times below:</p>
                <ul>
                  <li>Self collection at our warehouse: 1 working day</li>
                  <li>Standard courier: 1 to 3 working days</li>
                  <li>Express courier: 1 working day</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="manic-expand-container tablet-open-version tablet-fixed-open-version mobile-open-version mobile-fixed-open-version" data-group="faq">
            <div class="scroll-target" data-value="faq-02"></div>
            <div class="manic-expand-container-title">
              <h3>What are the shipping rates?</h3>
            </div>
            <div class="manic-expand-container-btn"></div>
            <div class="manic-expand-container-content">
              <div class="default-copy">

                
                <table class="default-table">
                  <thead>
                    <tr>
                      <th>Shipping Type</th>
                      <th>Flat Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <p>Standard Courier</p>
                      </td>
                      <td>
                        <p><span class="money">6.00</span> <br><small>Complimentary for <br>orders above $50</small></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>Express Courier</p>
                      </td>
                      <td>
                        <p><span class="money">6.00</span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
                
                
                
              </div>
            </div>
          </div>

          <div class="manic-expand-container tablet-open-version tablet-fixed-open-version mobile-open-version mobile-fixed-open-version" data-group="faq">
            <div class="scroll-target" data-value="faq-03"></div>
            <div class="manic-expand-container-title">
              <h3>Can I track my order?</h3>
            </div>
            <div class="manic-expand-container-btn"></div>
            <div class="manic-expand-container-content">
              <div class="default-copy">
                <p>Yes, you may track your order with the order number sent to you via email or through your <a href="/account/orders">Orders</a> page.</p>
              </div>
            </div>
          </div>

          <div class="manic-expand-container tablet-open-version tablet-fixed-open-version mobile-open-version mobile-fixed-open-version" data-group="faq">
            <div class="scroll-target" data-value="faq-04"></div>
            <div class="manic-expand-container-title">
              <h3>Do you ship internationally?</h3>
            </div>
            <div class="manic-expand-container-btn"></div>
            <div class="manic-expand-container-content">
              <div class="default-copy">
                <p>To all our international friends, we appreciate your support for Kindred Teas! We offer international shipping to customers outside of Singapore. However, shipping rates will vary according to the destination and total weight of the package. International orders are shipped via Singpost registered postage.</p>

                
                <table class="default-table">
                  <thead>
                    <tr>
                      <th>Country</th>
                      <th>Estimated Delivery Tme</th>
                      <th>Weight</th>
                      <th>Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><p>Country Name</p></td>
                      <td><p>2 days</p></td>
                      <td><p>10 g</p></td>
                      <td><p><span class="money">1</span></p></td>
                    </tr>
                    <tr>
                      <td><p>Country Name</p></td>
                      <td><p>2 days</p></td>
                      <td><p>10 g</p></td>
                      <td><p><span class="money">1</span></p></td>
                    </tr>
                    <tr>
                      <td><p>Country Name</p></td>
                      <td><p>2 days</p></td>
                      <td><p>10 g</p></td>
                      <td><p><span class="money">1</span></p></td>
                    </tr>
                    <tr>
                      <td><p>Country Name</p></td>
                      <td><p>2 days</p></td>
                      <td><p>10 g</p></td>
                      <td><p><span class="money">1</span></p></td>
                    </tr>
                  </tbody>
                </table>
                

                
                

              </div>
            </div>
          </div>

          <div class="manic-expand-container tablet-open-version tablet-fixed-open-version mobile-open-version mobile-fixed-open-version" data-group="faq">
            <div class="scroll-target" data-value="faq-05"></div>
            <div class="manic-expand-container-title">
              <h3>It has been more than the stipulated delivery time and I have yet to receive my order. What should I do?</h3>
            </div>
            <div class="manic-expand-container-btn"></div>
            <div class="manic-expand-container-content">
              <div class="default-copy">
                <p>Please do not hesitate to contact our customer care team via <a href="mailto:hello@kindredteas.com">email</a> or through the <a href="/contact">Contact Us</a> page, and we will gladly assist you in tracking your order.</p>
              </div>
            </div>
          </div>

          <div class="manic-expand-container tablet-open-version tablet-fixed-open-version mobile-open-version mobile-fixed-open-version" data-group="faq">
            <div class="scroll-target" data-value="faq-06"></div>
            <div class="manic-expand-container-title">
              <h3>Can I collect my orders via meet up?</h3>
            </div>
            <div class="manic-expand-container-btn"></div>
            <div class="manic-expand-container-content">
              <div class="default-copy">
                <p>If you wish to collect your order, kindly email us at <a href="mailto:hello@kindredteas.com">hello@kindredteas.com</a> to arrange for a pick up at our warehouse. Our address is situated at 3 Soon Lee Street #03-08 Pioneer Junction Singapore 627606. You may collect your order 1 working day after your payment has been verified, between 9am and 6pm. Alternatively, if there is a high demand for pick ups, we will arrange for a mass meet up at a central location.</p>
              </div>
            </div>
          </div>

          

        </div> <!-- page-faq-content -->
        
      </div>
    </div>
  </div>
</article>

