<!-- /templates/page.faq.liquid -->
{% comment %}{% section 'faq-default-banner' %}{% endcomment %}

<!--
   _____ ___ _____ _     _____
  |_   _|_ _|_   _| |   | ____|
    | |  | |  | | | |   |  _|
    | |  | |  | | | |___| |___
    |_| |___| |_| |_____|_____|

-->


<article id="page-faq-title-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">
      <div class="col-md-12">

        <div id="page-faq-title">
          <h2>{{ page.title }}</h2>

        </div>

      </div>
    </div>
  </div>
</article>

{% section 'faq-content' %}

