

<!--
   _     ___   ____  ___
  | |   / _ \ / ___|/ _ \
  | |  | | | | |  _| | | |
  | |__| |_| | |_| | |_| |
  |_____\___/ \____|\___/

-->


<article id="about-page-logo-section">
  <div class="container-fluid has-breakpoint">
    <div class="row">

      <div class="col-md-5">

        <div id="about-page-logo-image">
          <div class="manic-image-container has-show-all">
            <img src="" data-image-desktop="{{ section.settings.logo-image.src | img_url: 'master' }}">
          </div>
        </div> <!-- about-page-logo-image -->

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">

        <div id="about-page-logo-copy">
          <div class="default-copy">
            <h1>{{ section.settings.title }}</h1>
            {{ section.settings.contentcopy }}
          </div>
        </div> <!-- about-page-logo-copy -->

      </div>
    </div> <!-- row -->
  </div>
</article>


{% schema %}
  {

    "name": "About Logo",
    "class": "about-page-logo-section-container",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "contentcopy",
        "label": "Content Copy"
      },
      {
        "type": "image_picker",
        "id": "logo-image",
        "label": "Logo Image"
      }
    ]
  }
{% endschema %}