<!-- /templates/customers/account.liquid -->

<div id="page-account-main-container">










</div> <!-- page-account-main-container -->

<script type="text/javascript">
  
  function InvalidMsg(textbox) {
    if(textbox.validity.patternMismatch){
      textbox.setCustomValidity('You cannot send invitation to yourself.');
    } else {
      textbox.setCustomValidity('');
    }
    return true;
  }
    
  // SCRIPTS WERE MOVED TO DEFAULT.JS

</script>